.footer {

    border-top:3px solid #131313;

    &__wrap {
        padding: 60px 0 40px 0;
    }

    &__contacts {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 575px){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__contact {
        @media (max-width: 575px){
            margin-bottom: 40px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &__title {
        font-size: 18px;
        line-height: 1em;
        font-weight: bold;
        color: #131313;;
        white-space: nowrap;
        margin-bottom: 10px;
        @media (max-width: 575px){
            font-size: 22px;
            margin-bottom: 15px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1em;
        font-weight: normal;
        color: #131313;
        white-space: nowrap;
        @media (max-width: 575px){
            font-size: 18px;
        }
    }

    &__icons {
        text-align: center;
        white-space: nowrap;
        @media (max-width: 575px){
            text-align: left;
        }
    }

    &__icon-link {
        white-space: nowrap;
        font-size: 20px;
        color: #131313;
        line-height: 0.9;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            transform: scale(1.3);
            transition: 0.1s;
        }
    }
}

