// HEADER---------->

.header {
    
    box-shadow:-5px 5px 20px -5px rgb(143, 143, 143);
    border-bottom:3px solid #131313;
    background-color: #fff;

    @media (max-width: 575px){
        position: fixed;
        top:0;
        left:0;
        width:100%;
        z-index:99;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-pic{
        margin-right: 5px;
    }

    &__logo-link-pic {
        display: block;
    }

    &__logo-link-text{
        font-size: 24px;
        line-height: 0.9em;
        letter-spacing:0em;
        font-weight: bold;
        color: #131313;
    }

    &__nav-list {
        display: flex;
        @media (max-width: 575px){
            display: none;
        }
    }

    &__item {
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__link {
        font-size: 16px;
        font-weight:bold ;
        line-height: 1em;
        color: #131313;
        padding:8px 15px;
        border:3px solid #131313;
        white-space: nowrap;
        background-color: #dfd8d1;
        transition-duration: 0.4s ;
        box-shadow:-5px 5px 20px -5px rgb(143, 143, 143);
    }

    &__link--resume{
        &:hover{
            background-color: #ff5050 ;
        }
    }

    &__link--project{
        &:hover{
            background-color: #ffcf55 ;
        }
    }
}

//Header-end---------->