.project {

    background-color: #e8e8e6;
    padding: 100px 0;
    @media (max-width: 575px){
        padding: 70px 0;
    }

    &__card {

        display: flex;
        flex-wrap: wrap;
        background-color: white;
        box-shadow:-5px 5px 20px 5px grey;
        border:3px solid #131313;
        
        margin-bottom: 100px;
        position: relative;
        @media (max-width: 767px){
            flex-direction: column-reverse;
        }
        @media (max-width: 575px){
            border-radius: 20px 20px;
        }
    }

    &__card-reverse{
        flex-direction: row-reverse;
        @media (max-width: 767px){
            flex-direction: column-reverse;
        }
    }

    &__text-wrap {
        width: 45%;
        padding:70px 60px;
        @media (max-width: 991px){
            padding:40px 40px ;
        }
        @media (max-width: 767px){
            width: 100%;
        }
    }

    &__card-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;

        position: relative;
        &::before{
            content: "";
            position: absolute;
            top:-1px;
            left:-60px;
            background-color: #ffcf55;
            width: 10px;
            height: 50px;
            box-shadow: 1px 0px 5px 1px grey;
            @media (max-width: 991px){
                left:-40px;
            }
        }
    }

    &__card-text {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px;
    }

    &__card-item {
        font-weight: bold;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }

        position: relative;
        &::before{
            content: "";
            position: absolute;
            top:0;
            left:-60px;
            background-color: #ffcf55;
            width: 10px;
            height: 20px;
            box-shadow: 1px 0px 5px 1px grey;

            @media (max-width: 991px){
                left:-40px;
            }
        }
    }

    &__pic-wrap {
        width: 55%;
        overflow: hidden;
        box-shadow: 0px 0px 20px 1px grey;
        @media (max-width: 767px){
            width: 100%;
        }
        @media (max-width: 575px){
            border-radius: 20px 20px 0 0;
        }
    }

    &__pic {
        width:100%;
        min-height: 100%;
        transition: 0.3s;
        transform: scale(1);
        object-fit: cover;
        filter: grayscale(40%);
        &:hover{
            transform: scale(1.1, 1.1) rotate(-4deg);
            filter: grayscale(0%);
        }
        @media (max-width: 575px){
            filter: grayscale(10%);
        }
    }
}
