@import "nullstyle.scss";



body{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing:1px;
    color: #131313;

    @media (max-width: 575px){
        position: relative;
        margin-top: 84px;
    }
}


// HEADER---------->

@import "header.scss";

//Main---------->

@import "main.scss";

//Footer---------->

@import "footer.scss";

// Resume---------->

@import "resume.scss";

// Project---------->

@import "project.scss";






@import "section.scss";









































@import "adaptive.scss";