@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: #131313;
}
@media (max-width: 575px) {
  body {
    position: relative;
    margin-top: 84px;
  }
}

.header {
  -webkit-box-shadow: -5px 5px 20px -5px #8f8f8f;
          box-shadow: -5px 5px 20px -5px #8f8f8f;
  border-bottom: 3px solid #131313;
  background-color: #fff;
}
@media (max-width: 575px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-pic {
  margin-right: 5px;
}
.header__logo-link-pic {
  display: block;
}
.header__logo-link-text {
  font-size: 24px;
  line-height: 0.9em;
  letter-spacing: 0em;
  font-weight: bold;
  color: #131313;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 575px) {
  .header__nav-list {
    display: none;
  }
}
.header__item {
  margin-right: 10px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 16px;
  font-weight: bold;
  line-height: 1em;
  color: #131313;
  padding: 8px 15px;
  border: 3px solid #131313;
  white-space: nowrap;
  background-color: #dfd8d1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-shadow: -5px 5px 20px -5px #8f8f8f;
          box-shadow: -5px 5px 20px -5px #8f8f8f;
}
.header__link--resume:hover {
  background-color: #ff5050;
}
.header__link--project:hover {
  background-color: #ffcf55;
}

.intro {
  position: relative;
}
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background: #e8e8e6;
  z-index: -1;
  border-right: 3px solid #131313;
}
@media (max-width: 575px) {
  .intro::before {
    width: 100%;
    height: 70%;
    top: 30%;
    border-top: 3px solid #131313;
  }
}
.intro__wrap {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 575px) {
  .intro__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0;
  }
}
.intro__card {
  display: block;
  background-color: #dfd8d1;
  border: 4px solid #131313;
  max-width: 420px;
  height: auto;
  margin-right: 20px;
  text-align: center;
  -webkit-box-shadow: -5px 5px 20px -5px #8f8f8f;
          box-shadow: -5px 5px 20px -5px #8f8f8f;
}
@media (max-width: 575px) {
  .intro__card {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
  }
}
.intro__photo-wrap {
  margin-bottom: 50px;
  padding: 50px 85px 0 85px;
}
@media (max-width: 991px) {
  .intro__photo-wrap {
    padding: 30px 50px 0 50px;
  }
}
.intro__photo {
  border-radius: 50%;
  max-width: 250px;
  height: auto;
  border: 3px solid #131313;
}
@media (max-width: 575px) {
  .intro__photo {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
.intro__card-name {
  display: block;
  font-size: 22px;
  line-height: 1em;
  font-weight: bold;
  color: #131313;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.intro__card-name::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 3px;
  margin: 0 auto;
  background-color: #131313;
}
.intro__card-profession {
  text-transform: uppercase;
  font-weight: 500;
  color: #131313;
  margin-bottom: 60px;
}
@media (max-width: 575px) {
  .intro__card-profession {
    margin-bottom: 40px;
  }
}
.intro__card-icons {
  height: 60px;
  background-color: white;
  border-top: 3px solid #131313;
}
@media (max-width: 575px) {
  .intro__card-icons {
    border-radius: 0 0 20px 20px;
  }
}
.intro__card-icon {
  font-size: 30px;
  color: #131313;
  padding: 15px 0;
  margin-right: 20px;
}
.intro__card-icon:last-child {
  margin-right: 0;
}
.intro__card-icon:hover {
  text-shadow: 5px -1px 2px #8E8D8A;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.intro__greeting {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  .intro__title {
    display: none;
  }
}
.intro__text {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 60px;
}
@media (max-width: 575px) {
  .intro__text {
    display: none;
  }
}
.intro__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 345px;
  max-height: 345px;
  text-align: center;
  -webkit-box-shadow: -5px 5px 20px -5px #8f8f8f;
          box-shadow: -5px 5px 20px -5px #8f8f8f;
}
@media (max-width: 767px) {
  .intro__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 0 0 0 #8f8f8f;
            box-shadow: 0 0 0 0 #8f8f8f;
  }
}
@media (max-width: 575px) {
  .intro__links {
    display: none;
  }
}
.intro__link {
  font-size: 18px;
  font-weight: bold;
  color: #131313;
  width: 170px;
  height: 345px;
  line-height: 345px;
  background-color: #e8e8e6;
  border: 3px solid #131313;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .intro__link {
    -webkit-box-shadow: -5px 5px 20px -5px #8f8f8f;
            box-shadow: -5px 5px 20px -5px #8f8f8f;
    width: 100%;
    height: 170px;
    line-height: 1em;
    padding-top: 75px;
    margin-bottom: 5px;
  }
  .intro__link:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  .intro__link {
    min-width: 120px;
    max-width: 150px;
    height: 180px;
    margin: 0 2px 40px 2px;
    border-radius: 5px;
    text-align: center;
    padding-top: 145px;
    background-image: url(../../img/png/programmer.png);
    background-repeat: no-repeat;
    background-position: top 10px center;
    background-size: 90%;
    background-color: #ff5050;
    font-weight: bold;
    font-size: 22px;
  }
  .intro__link:last-child {
    background-image: url(../../img/png/project-management.png);
    background-color: #ffcf55;
  }
}
.intro__link:hover {
  width: 345px;
  background-image: url(../../img/png/programmer.png);
  background-repeat: no-repeat;
  background-position: top 50% center;
  background-color: #ff5050;
  color: transparent;
}
.intro__link:hover:last-child {
  background-image: url(../../img/png/project-management.png);
  background-color: #ffcf55;
}
@media (max-width: 767px) {
  .intro__link:hover {
    height: 250px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .intro__link:hover {
    min-width: 120px;
    max-width: 150px;
    height: 180px;
  }
}

.footer {
  border-top: 3px solid #131313;
}
.footer__wrap {
  padding: 60px 0 40px 0;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 575px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .footer__contact {
    margin-bottom: 40px;
  }
  .footer__contact:last-child {
    margin-bottom: 0;
  }
}
.footer__title {
  font-size: 18px;
  line-height: 1em;
  font-weight: bold;
  color: #131313;
  white-space: nowrap;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .footer__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
}
.footer__text {
  font-size: 14px;
  line-height: 1em;
  font-weight: normal;
  color: #131313;
  white-space: nowrap;
}
@media (max-width: 575px) {
  .footer__text {
    font-size: 18px;
  }
}
.footer__icons {
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 575px) {
  .footer__icons {
    text-align: left;
  }
}
.footer__icon-link {
  white-space: nowrap;
  font-size: 20px;
  color: #131313;
  line-height: 0.9;
  margin-right: 20px;
}
.footer__icon-link:last-child {
  margin-right: 0;
}
.footer__icon-link:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.resume {
  background-color: #e8e8e6;
  padding: 100px 0;
}
@media (max-width: 575px) {
  .resume {
    padding: 70px 0;
  }
}
.resume__card {
  background-color: white;
  -webkit-box-shadow: -5px 5px 20px 5px grey;
          box-shadow: -5px 5px 20px 5px grey;
  border: 3px solid #131313;
  padding: 70px 100px;
  margin-bottom: 50px;
}
.resume__card:last-child {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .resume__card {
    padding: 70px 60px;
  }
}
@media (max-width: 575px) {
  .resume__card {
    padding: 50px 40px;
    text-align: center;
    border-radius: 20px;
  }
}
.resume__card-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .resume__card-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.resume__card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.resume__card-title::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -100px;
  background-color: #ff5050;
  width: 10px;
  height: 50px;
  -webkit-box-shadow: 1px 0px 5px 1px grey;
          box-shadow: 1px 0px 5px 1px grey;
}
@media (max-width: 991px) {
  .resume__card-title::before {
    left: -60px;
  }
}
@media (max-width: 575px) {
  .resume__card-title::before {
    left: -40px;
  }
}
.resume__card-text {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: bold;
}
@media (max-width: 767px) {
  .resume__card-text {
    font-size: 18px;
  }
}
.resume__link-text {
  font-style: italic;
  color: #131313;
}
.resume__link-text:hover {
  border-bottom: 1px solid #131313;
}
@media (max-width: 991px) {
  .resume__card-list {
    margin-right: 60px;
  }
  .resume__card-list:last-child {
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .resume__card-list {
    margin-right: 0;
  }
}
.resume__card-title--skills {
  margin-bottom: 60px;
}
.resume__card-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .resume__card-item-wrap {
    display: block;
    margin-bottom: 40px;
  }
}
.resume__card-item-pic {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
@media (max-width: 575px) {
  .resume__card-item-pic {
    margin: 0 0 10px 0;
    width: 50px;
    height: 50px;
  }
}
.resume__card-item {
  font-size: 18px;
  line-height: 2em;
  font-weight: bold;
}
@media (max-width: 575px) {
  .resume__card-item {
    font-size: 16px;
  }
}

.project {
  background-color: #e8e8e6;
  padding: 100px 0;
}
@media (max-width: 575px) {
  .project {
    padding: 70px 0;
  }
}
.project__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  -webkit-box-shadow: -5px 5px 20px 5px grey;
          box-shadow: -5px 5px 20px 5px grey;
  border: 3px solid #131313;
  margin-bottom: 100px;
  position: relative;
}
@media (max-width: 767px) {
  .project__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 575px) {
  .project__card {
    border-radius: 20px 20px;
  }
}
.project__card-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .project__card-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.project__text-wrap {
  width: 45%;
  padding: 70px 60px;
}
@media (max-width: 991px) {
  .project__text-wrap {
    padding: 40px 40px;
  }
}
@media (max-width: 767px) {
  .project__text-wrap {
    width: 100%;
  }
}
.project__card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}
.project__card-title::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -60px;
  background-color: #ffcf55;
  width: 10px;
  height: 50px;
  -webkit-box-shadow: 1px 0px 5px 1px grey;
          box-shadow: 1px 0px 5px 1px grey;
}
@media (max-width: 991px) {
  .project__card-title::before {
    left: -40px;
  }
}
.project__card-text {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}
.project__card-item {
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}
.project__card-item:last-child {
  margin-bottom: 0;
}
.project__card-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  background-color: #ffcf55;
  width: 10px;
  height: 20px;
  -webkit-box-shadow: 1px 0px 5px 1px grey;
          box-shadow: 1px 0px 5px 1px grey;
}
@media (max-width: 991px) {
  .project__card-item::before {
    left: -40px;
  }
}
.project__pic-wrap {
  width: 55%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 1px grey;
          box-shadow: 0px 0px 20px 1px grey;
}
@media (max-width: 767px) {
  .project__pic-wrap {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .project__pic-wrap {
    border-radius: 20px 20px 0 0;
  }
}
.project__pic {
  width: 100%;
  min-height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}
.project__pic:hover {
  -webkit-transform: scale(1.1, 1.1) rotate(-4deg);
          transform: scale(1.1, 1.1) rotate(-4deg);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
@media (max-width: 575px) {
  .project__pic {
    -webkit-filter: grayscale(10%);
            filter: grayscale(10%);
  }
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-small {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
}

.mobile {
  display: none;
}

.intro__links--mobile {
  display: none;
}
@media (max-width: 575px) {
  .intro__links--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 20px;
  }
}

.active-resume {
  background-color: #ff5050;
}

.active-project {
  background-color: #ffcf55;
}

.main-title {
  font-size: 46px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .container-small {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .container-small {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .container-small {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .container-small {
    max-width: 100%;
  }

  .mobile {
    display: block;
  }

  .mobile div {
    display: block;
    position: absolute;
    top: 17px;
    right: 15px;
    width: 50px;
    height: 50px;
    z-index: 99;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e8e8e6;
    border: 3px solid #131313;
    -webkit-box-shadow: -5px 5px 20px -5px #8f8f8f;
            box-shadow: -5px 5px 20px -5px #8f8f8f;
  }

  .mobile div span {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 4px;
    width: 30px;
    background-color: #131313;
    border-radius: 13px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }

  .mobile div span:nth-child(1) {
    top: 14px;
  }

  .mobile div span:nth-child(2) {
    top: 23px;
  }

  .mobile div span:nth-child(3) {
    bottom: 14px;
  }

  .mobile div.active span:nth-child(1) {
    -webkit-transform: translate(-15px, 9px) rotate(-45deg);
            transform: translate(-15px, 9px) rotate(-45deg);
  }

  .mobile div.active span:nth-child(2) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    opacity: 0;
  }

  .mobile div.active span:nth-child(3) {
    -webkit-transform: translate(-15px, -9px) rotate(45deg);
            transform: translate(-15px, -9px) rotate(45deg);
  }

  .mobile nav {
    position: fixed;
    top: 45px;
    right: 40px;
    border-radius: 50%;
    z-index: 90;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }

  .mobile nav.open {
    background-color: #dfd8d1;
    width: 100vw;
    height: 100vh;
    right: 0px;
    top: 0px;
    border-radius: 0;
    border: 4px solid #131313;
  }

  .mobile nav ul {
    display: none;
  }

  .mobile nav ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mobile nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation-name: fadein;
            animation-name: fadein;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    margin-bottom: 30px;
    text-align: center;
    background-color: #ff5050;
  }
  .mobile nav ul li:last-child {
    background-color: #ffcf55;
  }

  .mobile ul li a {
    font-family: "Comfortaa";
    letter-spacing: normal;
    color: #131313;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border: 3px solid #131313;
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}